	<footer id="page-footer">
		<h2 class="screen-reader-text">Footer Navigation</h2>
		<div class="wrap cols">
			<div>
				<div class="logo-combo">
					<img
						src="{{ "images/logo-white-48.png" | absolute_url }}"
						srcset="{{ "images/logo-white-48.png" | absolute_url }} 1x, {{ "images/logo-white-96.png" | absolute_url }} 2x"
					/>
					<p>Chassis</p>
				</div>
				<p>By <a href="https://bronsonquick.com.au/">Bronson Quick</a>, <a href="https://rmccue.io/">Ryan McCue</a>, and <a href="https://github.com/Chassis/Chassis/graphs/contributors">contributors</a>. 🇦🇺</p>
				<p>Logo by <a href="http://sonjaleix.com/">Sonja Leix</a>. 🥕</p>
				<p>Supported by <a href="https://hmn.md/">Human Made</a>. 😘</p>
				<p>Made with ❤️ just for you.</p>
			</div>
			<div>
				<h3>Projects</h3>
				<ul>
					<li><a href="https://github.com/Chassis/Chassis"><i class="fa fa-github"></i> Chassis Box</a></li>
					<li><a href="https://github.com/Chassis/Desktop"><i class="fa fa-github"></i> Chassis Desktop</a></li>
				</ul>
			</div>
			<div>
				<h3>Documentation</h3>
				<ul>
					<li><a href="http://docs.chassis.io/en/latest/intro/">Introduction</a></li>
					<li><a href="http://docs.chassis.io/en/latest/quickstart/">Quickstart</a></li>
					<li><a href="http://docs.chassis.io/en/latest/config/">Configuration</a></li>
					<li><a href="http://docs.chassis.io/en/latest/extend/">Extending Chassis</a></li>
					<li><a href="http://docs.chassis.io/en/latest/reference/">Reference</a></li>
				</ul>
			</div>
			<div>
				<h3>Extensions</h3>
				<ul>
					<li><a href="https://github.com/Chassis/Imagick">Imagick</a></li>
					<li><a href="https://github.com/Chassis/MailHog">MailHog</a></li>
					<li><a href="https://github.com/Chassis/Memcache">Memcache</a></li>
					<li><a href="https://github.com/Chassis/Tester">Tester</a></li>
					<li><a href="{{ site.baseurl }}extensions/">View all &rarr;</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>
