{% include header.html %}

<a href="#page-content" class="screen-reader-text">Jump to page content</a>

<header id="page-header">
	<div class="wrap">
		<div class="title">
			<img
				src="{{ "images/logo-128.png" | absolute_url }}"
				srcset="{{ "images/logo-128.png" | absolute_url }} 1x, {{ "images/logo-256.png"| absolute_url }} 2x"
			/>
			<h1>Chassis</h1>
		</div>
		<nav>
			<h2 class="screen-reader-text">Site Navigation</h2>
			<ul>
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li><a href="http://docs.chassis.io/">Documentation</a></li>
				<li><a href="{{ site.baseurl }}extensions/">Extensions</a></li>
				<!--<li><a href="/">Support</a></li>-->
			</ul>
		</nav>
	</div>
</header>

<article id="page-content" class="wrap">
	<h2>{{ page.title }}</h2>

	{{ content }}
</article>

{% include footer.html %}
